<mat-toolbar color="primary">
  <span>
    <img src="assets/img/juja_logo.png" class="angular-logo">
    Booking hotels
  </span>
  <button mat-button routerLink="hotels">Hotels</button>
  <span class="fill-remaining-space"></span>
  <button mat-button routerLink="login">Login</button>
  <button mat-button (click)="onLogout()">Logout</button>
</mat-toolbar>

<!--<nav class="navbar navbar-default">-->
  <!--<div class="container-fluid">-->
    <!--<div class="navbar-header">-->
      <!--<a href="https://juja.com.ua/" class="navbar-brand">-->
        <!--<img src="assets/img/juja_logo.png" class="angular-logo">-->
        <!--Booking hotels-->
      <!--</a>-->
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
    <!--</div>-->
    <!--<div id="menu" class="collapse navbar-collapse">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li class="nav-item"><a class="nav-link" routerLink="hotels">Hotels</a></li>-->
        <!--<li class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->
