<mat-form-field>
  <input matInput [matDatepicker]="dateBegin" placeholder="Choose begin date">
  <mat-datepicker-toggle matSuffix [for]="dateBegin"></mat-datepicker-toggle>
  <mat-datepicker #dateBegin></mat-datepicker>
</mat-form-field>
<mat-form-field>
  <input matInput [matDatepicker]="dateEnd" placeholder="Choose end date">
  <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
  <mat-datepicker #dateEnd></mat-datepicker>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="City">
    <mat-option *ngFor="let city of cities" [value]="city.id">
      {{city .name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-button color="primary">Find hotels</button>
<app-hotels-list></app-hotels-list>
