<div class="search">
  <mat-form-field>
    <input matInput [matDatepicker]="checkIn" [min]="minCheckInDate" [(ngModel)]="checkInDate"
           placeholder="Check-in" disabled (dateChange)="checkDates()">
    <mat-datepicker-toggle matSuffix [for]="checkIn"></mat-datepicker-toggle>
    <mat-datepicker #checkIn disabled="false"></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="checkOut" [min]="minCheckOutDate" [(ngModel)]="checkOutDate"
           placeholder="Check-out" disabled>
    <mat-datepicker-toggle matSuffix [for]="checkOut"></mat-datepicker-toggle>
    <mat-datepicker #checkOut disabled="false"></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="City" aria-label="City" [matAutocomplete]="auto" [formControl]="cityCtrl">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCity">
      <mat-option *ngFor="let city of filteredCities" [value]="city">
        {{ city.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-button color="primary" (click)="findHotels()">Find hotels</button>
</div>
<!--<app-hotels-list></app-hotels-list>-->
