<div class="search">
  <mat-form-field>
    <input matInput [matDatepicker]="checkIn" placeholder="Choose check-in">
    <mat-datepicker-toggle matSuffix [for]="checkIn"></mat-datepicker-toggle>
    <mat-datepicker #checkIn></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="checkOut" placeholder="Choose check-out">
    <mat-datepicker-toggle matSuffix [for]="checkOut"></mat-datepicker-toggle>
    <mat-datepicker #checkOut></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="City" aria-label="City" [matAutocomplete]="auto" [formControl]="cityCtrl">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCity">
      <mat-option *ngFor="let city of filteredCities" [value]="city">
        {{ city.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-button color="primary" (click)="findHotels()">Find hotels</button>
</div>
<!--<app-hotels-list></app-hotels-list>-->
