<mat-toolbar color="primary">
  <span>
    <img src="assets/img/hotel.png" class="angular-logo">
    Booking hotels
  </span>
  <button mat-button routerLink="booking" *ngIf="isUser">Find room</button>
  <button mat-button routerLink="booking" *ngIf="isUser">Booked rooms</button>
  <button mat-button [mat-menu-trigger-for]="managerMenu" *ngIf="isAdminUser">Manager</button>
  <mat-menu #managerMenu="matMenu">
    <button mat-menu-item routerLink="countries">Countries</button>
    <button mat-menu-item routerLink="cities">Cities</button>
    <button mat-menu-item routerLink="hotels" *ngIf="isUser">Hotels</button>
    <button mat-menu-item routerLink="rooms" *ngIf="isUser">Rooms</button>
    <button mat-menu-item routerLink="roomCategories">Room categories</button>
  </mat-menu>
  <button mat-button [mat-menu-trigger-for]="adminMenu" *ngIf="isAdminUser">Admin</button>
  <mat-menu #adminMenu="matMenu">
    <button mat-menu-item routerLink="users">Users</button>
  </mat-menu>
  <span class="fill-remaining-space"></span>
  <button mat-button routerLink="login" *ngIf="isUser">Login</button>
  <button mat-button (click)="onLogout()" *ngIf="isUser">Logout</button>
</mat-toolbar>

<!--<nav class="navbar navbar-default">-->
  <!--<div class="container-fluid">-->
    <!--<div class="navbar-header">-->
      <!--<a href="https://juja.com.ua/" class="navbar-brand">-->
        <!--<img src="assets/img/hotel.png" class="angular-logo">-->
        <!--Booking hotels-->
      <!--</a>-->
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
    <!--</div>-->
    <!--<div id="menu" class="collapse navbar-collapse">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li class="nav-item"><a class="nav-link" routerLink="hotels">Hotels</a></li>-->
        <!--<li class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->
