<div class="header">
  <h1>Cities</h1>
</div>
<div *ngIf="!isLoaded">
  Loading ...
</div>
<div *ngIf="isLoaded">
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let city"> {{city.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
      <mat-cell *matCellDef="let city"> {{city.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="countryId">
      <mat-header-cell *matHeaderCellDef> Country id </mat-header-cell>
      <mat-cell *matCellDef="let city"> {{city.country.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
      <mat-cell *matCellDef="let city"> {{city.country.name}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="gotoCity(row.id)"></mat-row>
  </mat-table>
  <button mat-button color="primary" (click)="addCity()">Add city</button>
</div>
