<div *ngIf="!isLoaded">
  Loading ...
</div>
<div *ngIf="isLoaded">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let hotel"> {{hotel.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="hotel">
      <mat-header-cell *matHeaderCellDef> Hotel </mat-header-cell>
      <mat-cell *matCellDef="let hotel"> {{hotel.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cityId">
      <mat-header-cell *matHeaderCellDef> City id </mat-header-cell>
      <mat-cell *matCellDef="let hotel"> {{hotel.city.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
      <mat-cell *matCellDef="let hotel"> {{hotel.city.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="countryId">
      <mat-header-cell *matHeaderCellDef> Country id </mat-header-cell>
      <mat-cell *matCellDef="let hotel"> {{hotel.city.country.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
      <mat-cell *matCellDef="let hotel"> {{hotel.city.country.name}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="gotoHotel(row.id)"></mat-row>
  </mat-table>
  <button mat-button color="primary" (click)="addHotel()">Add hotel</button>
</div>
